/* BASE.HTML */

body {
    background-color: gainsboro;
    margin: 0;
    height: 100%;
}

/* Header */

header {
    text-align: center;
    background-color: black;
    color: gainsboro;
    padding: 5px 0 20px 0;
}

h1 {
    border-bottom: solid 1px gainsboro;
    padding-bottom: 10px;
    font-size: 40px;
}

#indicePrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 660px;
}

.elementoIndicePrincipal {
    color: gainsboro;
}

/* Main */

main {
    margin: 0;
    height: 100px;
}

/* Elementos generales */

h2 {
    margin: 0;
    font-size: 35px;
}

p {
    margin: 30px;
    text-align: center;
}

a {

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* PAGINA PRINCIPAL */

#divPagPrincipal {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divPP {
    border-right: solid 2px black;
    width: fit-content;
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
    height: 334px;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 80px 0;
}

.botonInfo {
    border: solid black 2px;
    padding: 10px;
    background-color: grey;
    color: black;
    margin: 0 5px 0 5px;
}

/* LISTA DE PROYECTOS */

#zonaSupList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 30px 0;
    justify-content: space-evenly;
}

#botonCrear {
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.elementoZonaSupList {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
}

li {
    display: flex;
    flex-direction: row;
}

#nombreProyecto {
    font-weight: 600;
    text-decoration: underline;
}

.elementoListaProyecto {
    margin: 0 40px 0 40px;
    display: flex;
    align-self: center;
}

#botonMasInfo {
    border: solid black 1px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    background-color: black;
    color: gainsboro;
}

/*LISTA DE TAREAS*/
#listadoTareas {
    display: flex;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
}

#cuadradoTarea {
    border: solid black 1px;
    height: 50px;
    width: 402px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: gainsboro;
}

/*LISTA DE EMPLEADOS*/
.tablaList {
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 10px;
}

table {
    margin: 20px;
}


/*FORMULARIOS */

.formulario {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*
label{
    margin-top:10px;
    margin-bottom: 10px;
    
}

input{
    margin-top: 10px;
    margin-bottom: 15px;
}

select{
    margin-top: 10px;
    margin-bottom: 10px;
}


textarea{
    margin-top: 10px;
    margin-bottom: 10px;
}
*/
#botonFormulario {
    border: solid black 1px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: black;
    color: gainsboro;
}

#botonContacto {
    border: solid black 1px;
    padding: 5px;
    margin-top: 150px;
    margin-left: 20px;
    background-color: black;
    color: gainsboro;
}

.mensajerrorcliente {
    display: flex;
    height: 46px;
    align-items: baseline;
    padding-top: 30px;
}


.input-group {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.boton {
    padding-left: 50px;
}

.select {
    margin-right: 20px;
    padding-bottom: 2px;
}

.texto {
    margin-right: 20px;
}

#id_nombrec {
    height: 20px;
    margin-left: 12px;
}

#id_email {
    height: 20px;
    margin-left: 28px;
    margin-bottom: 20px;
}

#id_telefono {
    height: 20px;
    margin-left: 9px;
}

#dni,
#nombre,
#apellidos,
#email,
#telefono,
#contraseña {
    height: 20px;
    margin-top: 15px;
}

#dni {
    margin-left: 42px;
}

#nombre {
    margin-left: 17px;
}

#apellidos {
    margin-left: 10px;
}

#email {
    margin-left: 30px;
}

#telefono {
    margin-left: 15px;
}

#contraseña {
    margin-left: 5px;
}

/* FORMULARIO LOGIN */

html {
    height: 100%;
}

#id_login {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
}

#inicia_sesion {
    margin-bottom: 20px;
    margin-top: 10px;
}

#id_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    background-color: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#id_nombre,
#id_contraseña {
    border: none;
    padding: 10px;
    margin: 0 0 20px 0;
    border-bottom: solid 1px #49454567;
}

#id_nombre:focus,
#id_contraseña:focus {
    border-radius: 8px;
}

#botonLogin {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    color: #fff;
    border: none;
    width: 80%;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

/*AMPLIAR-DISMINUIR TEXTO*/
.f0 {
    font-size: 0.8rem;
}

.f1 {
    font-size: 0.9rem;
}

.f2 {
    font-size: 1rem;
}

.f3 {
    font-size: 1.1rem;
}

.f4 {
    font-size: 1.2rem;
}

.f5 {
    font-size: 1.3rem;
}

.f6 {
    font-size: 1.4rem;
}

#boton_aumentar_disminuir{
    justify-content: left;
}

#aumentar {
    margin: 10px;
}

#disminuir {
    margin: 10px;
}