{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Deustotil Tech S.L.{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <header>
            <h1>Deustotil Tech S.L.</h1>
            <!--Indice, para poder navegar por las diferentes paginas-->
            <section id="indicePrincipal">
                <a href="{% url 'pagPrincipal' %}" class="elementoIndicePrincipal">Inicio</a>
                <a href="{% url 'proyecto_list' %}" class="elementoIndicePrincipal">Proyectos</a>
                <a href="{% url 'tarea_list' %}" class="elementoIndicePrincipal">Tareas</a>
                <a href="{% url 'empleado_list' %}" class="elementoIndicePrincipal">Empleados</a>
                <a href="{% url 'cliente_list' %}" class="elementoIndicePrincipal">Clientes</a>
                <a href="{% url 'contacto' %}" class="elementoIndicePrincipal">Contacto</a>
                
            </section>
        </header>
        
        <main id="content">
            {% block buscador %}{% endblock %}
            {% block contenido %}{% endblock %}
            <script src = "{% static 'javascript/validar_formulario.js' %}"></script>
        </main>

    </body>
</html>