{% extends 'base.html' %}

{% block titulo %} {{ cliente.nombre }} {% endblock %}

{% block contenido %}
<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>Modificar cliente</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'cliente_list' %}" class="botonInfo">Volver al inicio</a>
        <!--Boton para volver a la lista de clientes-->
    </section>
</article>
<!--Formulario para modificar el cliente-->
<article>
    <form action="" method="post" class="formulario">
        {% csrf_token %}
        <!--       <div class="mensajerrorcliente">
            <label  for="nombre">Nombre:</label><br />
            <input id="nombre" name = "nombre" type="text"  maxlength="60" required /><br />
            <p id="parrafoerrornombre"></p>
        </div>
        <div class="mensajerrorcliente">
            <label  for="id_email">Email:</label><br />
            <input id="id_email" name = "email" type="email"  maxlength="254" required /><br />
        </div>
        <div class="mensajerrorcliente">
            <label  for="id_telefono">Telefono:</label><br />
            <input id="id_telefono" name = "telefono" type="number" required /><br />
            <p id="parrafoerrortelefono"></p>-->
        </div>
        {{ form.as_ul }}
        <input id="botonFormulario" type="submit" value="Actualizar" />
    </form>
</article>


{% endblock %}