{% extends 'base.html' %}

{% block contenido %}
<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'cliente_list' %}" class="botonInfo">Volver al inicio</a> <!--Boton para volver a la lista de clientes-->
    </section>
</article>

<!--Formulario para crear cliente-->
<form action="{% url 'cliente_create' %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input id="botonFormulario" type="submit" value="Nuevo cliente" />
</form>

{% endblock %}