{% extends 'base.html' %}

{% block contenido %}

<section class="elementoZonaSupList">
    <h2>Contacto</h2>
</section>

<form action="/appDeustotil/contacto/" method="post">{% csrf_token %}
    <div>
        <label for="asunto">Asunto:</label>
        <br>
        <input type="text" name="asunto">
    </div>
    <div>
        <label for="email">Correo electrónico:</label>
        <br>
        <input type="text" name="email" placeholder="diegohernandez@gmail.com">
    </div>
    <div>
        <textarea name="mensaje" rows="10" cols="50" placeholder="Mensaje"></textarea>
    </div>
    <input type="submit" id="botonFormulario" value="Enviar mensaje">
</form>

{% endblock %}