{% extends 'base.html' %}

{% block contenido %}

    <form method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <br>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div>
            <label for="apellidos">Apellidos:</label>
            <br>
            <input type="text" name="apellido" id="apellido">
        </div>
        <div>
            <label for="email">Correo electrónico:</label>
            <br>
            <input type="email" name="emails" placeholder="diegohernandez@gmail.com">
        </div>
        <div>
            <textarea name="Descripción" rows="10" cols="50" placeholder="Descripción"></textarea>
        </div>
        <input type="submit" id="botonFormulario" value="Enviar mensaje">
    </form>

{% endblock %}