{% extends 'base.html' %}

{% block contenido %}
<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList">
        <h2>Nuevo empleado</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'empleado_list' %}" class="botonInfo">Volver al inicio</a> <!--Boton para volver a la lista de clientes-->
    </section>
</article>

<!--Formulario para crear empleado-->
<form action="{% url 'empleado_create' %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input id="botonFormulario" type="submit" value="Añadir empleado" />
</form>

{% endblock %}