{% extends 'base.html' %}

{% block contenido %}
<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList">
        <h2>Nuevo empleado</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'empleado_list' %}" class="botonInfo">Volver al inicio</a> <!--Boton para volver a la lista de clientes-->
    </section>
</article>

<!--Formulario para crear empleado-->
<form action="{% url 'empleado_create' %}" method="post" name="create_empleado">
    {% csrf_token %}
    <div>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required>
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" required>
    </div>
    <div>
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="telefono">Telefono:</label>
        <input type="number" id="telefono" name="telefono" required>
    </div>
    <div>
        <br>
        <label for="contraseña">Contraseña:</label>
        <input type="text" id="contraseña" name="contraseña" value="" readonly>
    </div>
    
    <input id="botonFormulario" type="submit" value="Añadir empleado" />

</form>


{% endblock %}
