{% extends 'base.html' %}

{% block contenido %}
<!--Titulo y botón de crear nuevo elemento-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>Empleados</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'empleado_create' %}" class="botonInfo">Añadir</a>
    </section>
</article>

<!--Buscador de registros-->
{% block buscador %}
<form class="buscador" method="get">
    <div class="input-group">
        <input type="text" class="texto" placeholder="Buscar.." name="buscar" value="">
        <select name="select" class="select">
            <option selected value=null>---</option>
            <option value="dni">DNI</option>
            <option value="nombre">Nombre</option>
            <option value="apellidos">Apellidos</option>
            <option value="email">Email</option>
            <option value="telefono">Telefono</option>
        </select>
        <div class="input">
            <button class="boton" type="submit">
                <i class="cursiva">Buscar</i>
            </button>
        </div>
    </div>
</form>
{% endblock %}

<!--Listado empleados con informacion adicional-->
{% if empleado_list %}
<table class="tablaList">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleado_list %}
        <tr>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td><a href="{% url 'empleado' empleado.id%}" id="botonMasInfo">Más información</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No existe empleado</p>
{% endif %}
{% endblock %}