{% extends 'base.html' %}

{% block contenido %}
<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>Modificar empleado</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'empleado_list' %}" class="botonInfo">Volver al inicio</a>
        <!--Boton para volver a la lista de empleados-->
    </section>
</article>

<!--Formulario para modificar el empleado-->
<form action="" method="post" class="formulario">
    {% csrf_token %}
    {{ form.as_ul }}
    <input id="botonFormulario" type="submit" value="Actualizar">
</form>

{% endblock %}