{% extends 'base.html' %}

{% block titulo %} Deustotil {% endblock %}

{% block contenido %} 
<div id="divPagPrincipal">
    <div class="divPP">
        <h2>PROYECTOS</h2>
        <p>Descripcion de proyectos</p>
        <a href="{% url 'proyecto_list' %}" class="botonInfo">Más información</a>
    </div>
    <div class="divPP">
        <h2>TAREAS</h2>
        <p>Descripcion de tareas</p>
        <a href="{% url 'tarea_list' %}" class="botonInfo">Más información</a>
    </div>
    <div class="divPP">
        <h2>EMPLEADOS</h2>
        <p>Nuestra familia</p>
        <a href="{% url 'empleado_list' %}" class="botonInfo">Más información</a>
    </div>

</div>

{% endblock %}