{% extends 'base.html' %}

{% block titulo %} Deustotil {% endblock %}
<!--Pagina principal, para poder navegar al resto de paginas-->
{% block contenido %} 
<div id="divPagPrincipal">
    <div class="divPP">
        <h2>PROYECTOS</h2>
        <p>Los proyectos que tenemos actualmente en curso</p>
        <a href="{% url 'proyecto_list' %}" class="botonInfo">Más información</a>
    </div>
    <div class="divPP">
        <h2>TAREAS</h2>
        <p>Las tareas que desarrollamos profesionalmente y forman parte de nuestros proyectos</p>
        <a href="{% url 'tarea_list' %}" class="botonInfo">Más información</a>
    </div>
    <div class="divPP">
        <h2>EMPLEADOS</h2>
        <p>Los empleados que forman parte de la empresa</p>
        <a href="{% url 'empleado_list' %}" class="botonInfo">Más información</a>
    </div>
    <div class="divPP">
        <h2>CLIENTES</h2>
        <p>Los clientes más habituales de la empresa</p>
        <a href="{% url 'cliente_list' %}" class="botonInfo">Más información</a>
    </div>

</div>

{% endblock %}