{% extends 'base.html' %}

{% block titulo %} {{ proyecto.nombre }} {% endblock %}

{% block contenido %}

<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>{{ proyecto.nombre }}</h2>
    </section>
    <!--Botones para navegar por diferentes paginas-->
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'proyecto_modificar' proyecto.id%}" class="botonInfo">Modificar</a>
        <a href="{% url 'proyecto_delete' proyecto.id%}" class="botonInfo">Eliminar</a>
    </section>
</article>

<!--Visualizacion de informacion de proyecto a traves de una tabla (en caso de que exista)-->
{% if proyecto %}
<table class="formulario">
    <tr>
        <td>Nombre</td>
        <td>{{ proyecto.nombre }}</td>
    </tr>
    <tr>
        <td>Descripcion</td>
        <td>{{ proyecto.descripcion }}</td>
    </tr>
    <tr>
        <td>Fecha inicio</td>
        <td>{{ proyecto.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha fin</td>
        <td>{{ proyecto.fecha_fin }}</td>
    </tr>
    <tr>
        <td>Presupuesto</td>
        <td>{{ proyecto.presupuesto }}</td>
    </tr>
    <tr>
        <td>Cliente</td>
        <td>{{ proyecto.cliente }}</td>
    </tr>
    <tr>
        <td>Tarea</td>
        <td>{{ proyecto.tarea }}</td>
    </tr>
    <tr>
        <td>Responsable</td>
        <td>{{ proyecto.reponsable }}</td>
    </tr>
</table>
{% else %}
<p>No existe este proyecto.</p>
{% endif %}

{% endblock %}