{% extends 'base.html' %}

{% block contenido %}
<article id="zonaSupList">
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList">
        <h2>Proyectos</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'proyecto_create' %}" class="botonInfo">Crear</a>
    </section>
</article>

<div>
    {% if proyecto_list %}
        <ul>
        {% for proyecto in proyecto_list %}
            <li> -
                 <div id="nombreProyecto" class="elementoListaProyecto"> {{ proyecto.nombre }} </div> 
                 <div class="elementoListaProyecto">Presupuesto: {{ proyecto.presupuesto }}</div> 
                 <div class="elementoListaProyecto">DNI del responsable: {{ proyecto.reponsable }}</div> 
                 <div class="ekementoListaProyecto" ><a href="{% url 'proyecto' proyecto.id%}" id="botonMasInfo">Más información</a> </div>
            </li>
        {% endfor %} 
        </ul>

    {% else %}
    <p>No hay proyectos en esta base de datos.</p> 
    {% endif %}  

</div>
{% endblock %}