{% extends 'base.html' %}

{% block contenido %}
{% if proyecto_list %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha final</th>
                <th>Presupuesto</th>
                <th>Cliente</th>
                <th>Tarea</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyecto_list %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{{ proyecto.fecha_inicio }}</td>
                <td>{{ proyecto.fecha_fin }}</td>
                <td>{{ proyecto.presupuesto }}</td>
                <td>{{ proyecto.cliente }}</td>
                <td>{{ proyecto.tarea }}</td>
                <td>{{ proyecto.reponsable }}</td>
                <td><a href="{% url 'proyecto' proyecto.id%}">Leer</a></td>
            </tr>
            {% endfor %}     
        </tbody>
    </table>
    <a href="{% url 'proyecto_create' %}">Crear</a>
{% else %}
    <p>Error</p> 
{% endif %}  
{% endblock %}