{% extends 'base.html' %}

{% block buscador %}
<form class="buscador" method="get">
    <div class="input-group">
        <input type="text" class="texto" placeholder="Buscar.." name="buscar" value="">
        <div class="input">
            <button class="boton" type="submit">
                <i class="cursiva"></i>
            </button>
        </div>
        <select name="select">
            <option selected value=null>---</option>
            <option value="nombre">Nombre</option>
            <option value="descripcion" >Descripcion</option>
            <option value="fecha_inicio">Fecha inicio</option>
            <option value="fecha_fin">Fecha fin</option>
            <option value="presupuesto">Presupuesto</option>
          </select>    
    </div>
</form>
{% endblock %}

{% block contenido %}
<!--Titulo y botón de crear nuevo elemento-->
<article id="zonaSupList">
    <section class="elementoZonaSupList">
    </section>
    <section class="elementoZonaSupList">
        <h2>Proyectos</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'proyecto_create' %}" class="botonInfo">Añadir</a>
    </section>
</article>

<!--Listado proyectos con informacion adicional-->
<div>
    {% if proyecto_list %}
        <ul>
        {% for proyecto in proyecto_list %}
            <li> -
                 <div id="nombreProyecto" class="elementoListaProyecto"> {{ proyecto.nombre }} </div> 
                 <div class="elementoListaProyecto">Presupuesto: {{ proyecto.presupuesto }}</div> 
                 <div class="elementoListaProyecto">DNI del responsable: {{ proyecto.reponsable }}</div> 
                 <div class="elementoListaProyecto">Nombre del cliente: {{ proyecto.cliente }}</div>
                 <div class="elementoListaProyecto" ><a href="{% url 'proyecto' proyecto.id%}" id="botonMasInfo">Más información</a> </div>
            </li>
        {% endfor %} 
        </ul>

    {% else %}
    <p>No hay proyectos en esta base de datos.</p> 
    {% endif %}  

</div>
{% endblock %}