{% extends "base.html" %}

{% block titulo %} {{ tarea.nombre }} {% endblock %}

{% block contenido %} 

<h2> {{ tarea.nombre }} </h2>

{% if tarea %}
<table>
    <tr>
        <td>Nombre</td>
        <td>{{ tarea.nombre }}</td>
    </tr>
    <tr>
        <td>Descripcion</td>
        <td>{{ tarea.descripcion }}</td>
    </tr>
    <tr>
        <td>Fecha inicio</td>
        <td>{{ tarea.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha fin</td>
        <td>{{ tarea.fecha_fin }}</td>
    </tr>
    <tr>
        <td>Responsable</td>
        <td>{{ tarea.responsable }}</td>
    </tr>
    <tr>
        <td>Prioridad</td>
        <td>{{ tarea.prioridad }}</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>{{ tarea.estado }}</td>
    </tr>
    <tr>
        <td>Notas</td>
        <td>{{ tarea.notas }}</td>
    </tr>
    <tr>
        <td><a href="{% url 'tarea_delete' tarea.id%}">Eliminar</a></td>
    </tr>
</table>
   
{% else %}
<p>No existe este proyecto.</p>
{% endif %}

{% endblock %}