{% extends "base.html" %}

{% block titulo %} {{ tarea.nombre }} {% endblock %}

{% block contenido %}

<!--Parte superior de la lista donde encontramos el titulo y los botones-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>{{ tarea.nombre }}</h2>
    </section>
    <!--Botones para navegar por diferentes paginas-->
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'tarea_modificar' tarea.id%}" class="botonInfo">Modificar</a>
        <a href="{% url 'tarea_delete' tarea.id%}" class="botonInfo">Eliminar</a>
    </section>
</article>

<!--Visualizacion de informacion de empelado a traves de una tabla (en caso de que exista)-->
{% if tarea %}
<table class="formulario">
    <tr>
        <td>Nombre</td>
        <td>{{ tarea.nombre }}</td>
    </tr>
    <tr>
        <td>Descripcion</td>
        <td>{{ tarea.descripcion }}</td>
    </tr>
    <tr>
        <td>Fecha inicio</td>
        <td>{{ tarea.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha fin</td>
        <td>{{ tarea.fecha_fin }}</td>
    </tr>
    <tr>
        <td>Responsable</td>
        <td>{{ tarea.responsable }}</td>
    </tr>
    <tr>
        <td>Prioridad</td>
        <td>{{ tarea.prioridad }}</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>{{ tarea.estado }}</td>
    </tr>
    <!--En caso de que la tarea no tenga notas que no aparezca-->
    {% if tarea.notas %}
    <tr>
        <td>Notas</td>
        <td>{{ tarea.notas }}</td>
    </tr>
    {% endif %}
</table>

{% else %}
<p>No existe este proyecto.</p>
{% endif %}

{% endblock %}