{% extends 'base.html' %}

{% block buscador %}
<form class="buscador" method="get">
    <div class="input-group">
        <input type="text" class="texto" placeholder="Buscar.." name="buscar" value="">
        <select name="select" class="select">
            <option selected value=null>---</option>
            <option value="nombre">Nombre</option>
            <option value="descripcion">Descripcion</option>
            <option value="fecha_inicio">Fecha inicio</option>
            <option value="fecha_fin">Fecha fin</option>
            <option value="prioridad">Prioridad</option>
            <option value="estado">Estado</option>
            <option value="notas">Notas</option>
        </select>
        <div class="input">
            <button class="boton" type="submit">
                <i class="cursiva">Buscar</i>
            </button>
        </div>

    </div>
</form>
{% endblock %}

{% block contenido %}
<!--Titulo y botón de crear nuevo elemento-->
<article id="zonaSupList">
    <section class="elementoZonaSupList" id="boton_aumentar_disminuir">
        <button id="aumentar">Aumentar</button>
        <button id="disminuir">Disminuir</button>
    </section>
    <section class="elementoZonaSupList">
        <h2>Tareas</h2>
    </section>
    <section class="elementoZonaSupList" id="botonCrear">
        <a href="{% url 'tarea_create' %}" class="botonInfo">Añadir</a>
    </section>
</article>

<!--Listado tareas-->
{% if tarea_list %}
<section id="listadoTareas">
    {% for tarea in tarea_list %}
    <div id="cuadradoTarea"> <a href="{% url 'tarea' tarea.id%}" class="elementoIndicePrincipal">{{ tarea.nombre }}</a>
    </div>
    {% endfor %}
</section>
{% else %}
<p>No existen tareas</p>
{% endif %}
{% endblock %}

<!--
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha final</th>
                <th>Responsable</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tarea_list %}
            <tr>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.fecha_inicio }}</td>
                <td>{{ tarea.fecha_fin }}</td>
                <td>{{ tarea.responsable }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>{{ tarea.estado }}</td>
                <td><a href="{% url 'tarea' tarea.id%}">Leer</a></td>
            </tr>
            {% endfor %}     
        </tbody>
    </table>
-->